#title #space{
    background-color: black;
    padding-left: 60px;    
    margin-top:14px ;
    height: 1px;
}
#title{
    text-transform: uppercase;
}

#first-card {
    z-index: 1;
}
#second-card{
    z-index: 22;
    margin-top: -220px;
}
.great-backgroud-card{
    height: 500px;
    width: 370px;
}