

@import "../node_modules/tailwindcss/dist/base.min.css";
@import "../node_modules/tailwindcss/dist/components.min.css";
@import "../node_modules/tailwindcss/dist/utilities.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-CustomColor-1{
    background-color: #72738e;
}
.text-CustomColor-1{
    color: #72738e;
}

.text-CustomColor-2{
    color: #333456;
}
.bg-card-purple{
    background-color: #333456 !important;
}